<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>popup</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="../../combined.min.css" type="text/css" />





</head>
<body>

<article class="page">

<section class="pageheader">
<header class="header">
<script type="text/javascript">
  bb_bid = "1692909";
  bb_lang = "pt-BR";
  bb_name = "custom";
  bb_limit = "8";
  bb_format = "bbb";
</script>
<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
<span>
<span class="parentlinks">

<a href="../../">Rogério Brito's Digital Junkyard</a> &#8594;

<a href="../">templates</a> &#8594;

</span>
<span class="title">
popup
</span>
</span>
</header>



</section>


<aside class="sidebar">
<p><a href="../../about/">About Me</a></p>

<script type="text/javascript">
  bb_bid = "1692909";
  bb_lang = "pt-BR";
  bb_name = "custom";
  bb_limit = "6";
  bb_format = "bbn";
</script>

<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>

</aside>


<div id="pagebody">

<section id="content">
<p>Use this template to create a popup window that is displayed when the mouse
is over part of the page. This template has two parameters:</p>

<ul>
<li>`mouseover` - This is the text or other content that triggers the
popup.
<li>`popup` - This should be the content of the popup window. It can be
anything, even images or a whole little wiki page, but should not be too
large for good usability.
</ul>

<p>Note that browsers that do not support the CSS will display the popup
inline in the page, inside square brackets.</p>

<p>[[templatebody &lt;<ENDBODY
<span class="popup"><TMPL_VAR mouseover>
<span class="paren">[</span><span class="balloon"><TMPL_VAR popup></span><span class="paren">]</span>
</span>
ENDBODY]]</p>

</section>

<div id="blogcomments">

<div id="disqus_comments">
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'digitaljunkyard'; // required: replace example with your forum shortname
    var discus_identifier = 'templates/popup';
    var disqus_url = 'http://cynic.cc/blog//templates/popup/';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>

</div>

</div>

<footer id="footer" class="pagefooter">

<nav id="pageinfo">











<div class="pagedate">
Last edited <time datetime="2018-03-11T15:54:34Z">2018-03-11T12:54:34 -03</time>
<!-- Created <time datetime="2013-07-11T02:04:36Z" pubdate="pubdate">2013-07-10T23:04:36 -03</time> -->
</div>

</nav>


<!-- from Rogério Brito's Digital Junkyard -->
</footer>

</article>
</body>
</html>
