<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>note</title>

<link rel="stylesheet" href="../../combined.min.css" type="text/css" />





</head>
<body>

<article class="page">

<section class="pageheader">
<header class="header">
<script type="text/javascript">
  bb_bid = "1692909";
  bb_lang = "pt-BR";
  bb_name = "custom";
  bb_limit = "8";
  bb_format = "bbb";
</script>
<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
<span>
<span class="parentlinks">

<a href="../../">Rogério Brito's Digital Junkyard</a> &#8594;

<a href="../">templates</a> &#8594;

</span>
<span class="title">
note
</span>
</span>
</header>



</section>


<aside class="sidebar">
<p><a href="../../about/">About Me</a></p>

<script type="text/javascript">
  bb_bid = "1692909";
  bb_lang = "pt-BR";
  bb_name = "custom";
  bb_limit = "6";
  bb_format = "bbn";
</script>

<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>

</aside>


<div id="pagebody">

<section id="content">
<div class="notebox">
<TMPL_VAR text>
</div>

<p><TMPL_UNLESS text>
Use this template to insert a note into a page. The note will be styled to
float to the right of other text on the page. This template has one
parameter:</p>

<ul>
<li>`text` - the text to display in the note
</ul>

<p></TMPL_UNLESS></p>

</section>

<div id="blogcomments">

<div id="disqus_comments">
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'digitaljunkyard'; // required: replace example with your forum shortname
    var discus_identifier = 'templates/note';
    var disqus_url = 'http://cynic.cc/blog//templates/note/';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>

</div>

</div>

<footer id="footer" class="pagefooter">

<nav id="pageinfo">











<div class="pagedate">
Last edited <time datetime="2013-07-11T02:04:36Z">2013-07-10T23:04:36 BRT</time>
<!-- Created <time datetime="2010-05-06T02:47:37Z" pubdate="pubdate">2010-05-05T23:47:37 BRT</time> -->
</div>

</nav>


<!-- from Rogério Brito's Digital Junkyard -->
</footer>

</article>
</body>
</html>
